@font-face {
  font-family: 'aktiv-grotesk';
  src: url('../fonts/aktivgrotesk-thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'aktiv-grotesk';
  src: url('../fonts/aktivgrotesk-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'aktiv-grotesk';
  src: url('../fonts/aktivgrotesk-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'aktiv-grotesk';
  src: url('../fonts/aktivgrotesk-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'aktiv-grotesk';
  src: url('../fonts/aktivgrotesk-bold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'aktiv-grotesk';
  src: url('../fonts/aktivgrotesk-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}



