/* -------------------------------------------------------------------------- */
/*                                    FONTS                                   */
/* -------------------------------------------------------------------------- */
@font-face {
  font-family: "aktiv-grotesk";
  src: url("../fonts/aktivgrotesk-thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "aktiv-grotesk";
  src: url("../fonts/aktivgrotesk-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "aktiv-grotesk";
  src: url("../fonts/aktivgrotesk-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "aktiv-grotesk";
  src: url("../fonts/aktivgrotesk-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "aktiv-grotesk";
  src: url("../fonts/aktivgrotesk-bold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "aktiv-grotesk";
  src: url("../fonts/aktivgrotesk-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
/* -------------------------------------------------------------------------- */
/*                                   GLOBAL                                   */
/* -------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  @apply font-aktivGrotesk relative;
}

h2::before, h3::before {
  @apply bg-primary;
  content: "";
  display: inline-block;
  margin-inline-end: 0.3125rem;
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 50%;
}

h2 > span,
h3 > span {
  @apply text-primary;
}

/* -------------------------------------------------------------------------- */
/*                                 COMPONENTS                                 */
/* -------------------------------------------------------------------------- */
.product__card {
  min-height: 18.75rem;
}

.product__card > .elementor-widget-wrap::after {
  content: "";
  border-radius: inherit;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, rgb(16, 28, 32), rgba(16, 28, 32, 0.1));
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  transition: opacity 300ms ease-in-out;
}

.product__card:is(:hover, :focus) > .elementor-widget-wrap::after {
  opacity: 0.9;
}

.product__card > .elementor-widget-wrap > .elementor-element,
.product__card > .elementor-widget-wrap > .elementor-element .elementor-icon-box-title {
  position: unset;
}

.product__card > .elementor-widget-wrap > .elementor-element {
  z-index: 1;
}

.product__card h5 {
  border-bottom: 1px solid white;
  margin-bottom: 0;
  padding-block-end: 1.25rem;
}

.product__card h5 > a::after {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}

.products__toggle {
  @apply block md:hidden;
  position: absolute;
  top: 10px;
  right: 0;
}

.products__toggle .elementor-icon {
  @apply bg-primary;
  display: grid;
  place-items: center;
  margin-left: auto;
  height: 24px;
  width: 24px;
  border-radius: 3px;
}

.products__toggle .elementor-icon > i {
  transition: transform 300ms ease-in-out;
}

.products__toggle.active .elementor-icon > i {
  transform: rotate(180deg);
}

.sidebar__products .elementor-widget-container > ul.elementor-icon-list-items {
  display: none;
}

.sidebar__products .elementor-widget-container > ul.elementor-icon-list-items.show {
  display: block;
}

@media (min-width: 768px) {
  .sidebar__products .elementor-widget-container > ul.elementor-icon-list-items {
    display: block;
  }
}
.sidebar__products .elementor-widget-container > ul.elementor-icon-list-items li {
  display: grid;
  grid-template-columns: 0.125rem auto;
  gap: 1.25rem;
}

.sidebar__products .elementor-widget-container > ul.elementor-icon-list-items li::before {
  content: "";
  height: 1.25rem;
  width: 100%;
  background-color: rgba(16, 28, 32, 0.2);
  border-radius: 5px;
  transition: background 300ms ease-in-out;
}

.sidebar__products .elementor-widget-container > ul.elementor-icon-list-items li > a {
  @apply text-tertiary;
}

.sidebar__products .elementor-widget-container > ul.elementor-icon-list-items li > span {
  @apply text-secondary font-semibold;
}

.sidebar__products .elementor-widget-container > ul.elementor-icon-list-items li:has(> span)::before,
.sidebar__products .elementor-widget-container > ul.elementor-icon-list-items li:is(:hover, :focus)::before {
  @apply bg-secondary;
}

.sidebar__products .elementor-widget-container > ul.elementor-icon-list-items li:is(:hover, :focus) > a {
  @apply text-secondary;
}