/* -------------------------------------------------------------------------- */
/*                                    FONTS                                   */
/* -------------------------------------------------------------------------- */
@font-face {
  font-family: "aktiv-grotesk";
  src: url("../fonts/aktivgrotesk-thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "aktiv-grotesk";
  src: url("../fonts/aktivgrotesk-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "aktiv-grotesk";
  src: url("../fonts/aktivgrotesk-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "aktiv-grotesk";
  src: url("../fonts/aktivgrotesk-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "aktiv-grotesk";
  src: url("../fonts/aktivgrotesk-bold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "aktiv-grotesk";
  src: url("../fonts/aktivgrotesk-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
/* -------------------------------------------------------------------------- */
/*                                   GLOBAL                                   */
/* -------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  @apply font-aktivGrotesk relative;
}

h2::before, h3::before {
  @apply bg-primary;
  content: "";
  display: inline-block;
  margin-inline-end: 0.3125rem;
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 50%;
}

h2 > span,
h3 > span {
  @apply text-primary;
}